body
{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.11);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.non-visible
{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
    
}

.visible
{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}


/* NAVBAR */
.navbar
{
    width: 100%;
    background-color: white;
}

.navbar h1
{
    font-size: 50px;
    margin: 0;
    padding: 0;
}



#openModal
{   
    border: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#openModal:hover
{
    color: rgb(199, 199, 199);
    background-color: rgb(199, 199, 199);
    transition: 0.5s;
}



#modal
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.068);
    top: 0;
    z-index: 9;
}

.container
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modal button
{
    border: none;
    background-color: rgb(41, 221, 41);
    height: 50px;
}

.sub-container
{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    gap: 20px;
    background-color: white;
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.062);
    border: 1px solid rgba(0, 0, 0, 0.37);
    border-radius: 5px;
}

#modal form
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    height:  100%;
    width: 80%;
    margin-top: 20%;
    margin-bottom: 20%;
}

#modal form div
{
    display: flex;
    flex-direction: column;
}

div label
{
    font-weight: bold;
}


#submit
{
    font-weight: bold;
    font-size: 25px;
}

#submit:hover
{
    background-color:  rgb(108, 236, 108);
    transition: 0.5s;
}

div input
{
    border: 1px solid gray;
    border-radius: 5px;
    height: 25px;
}

.cardContainer
{
    display: flex;
    flex-wrap: wrap;

    padding: 50px;
    gap: 10px;
}

.con
{
    width: 200px;
    height: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.185);
}


.read
{
    background-color: rgba(91, 230, 91, 0.842);
    border: none;
    border-radius: 5px;
}

.notread
{
    background-color: red;
    border: none;
    border-radius: 5px;
}

.close
{
    font-size: 20px;
    color: white;
    background-color: rgb(241, 88, 88);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    float: right;
}